.rule_out_img_div {
    width: fit-content;
    margin-left: -100px;
}

.evidence_img_div {
    width: fit-content;
}

.rule_out_img, .evidence_img {
    width: 100px;
    height: 100px;
}

.evidence_div {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.evidences {
    display: inline-block;
}